* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #C04000;
}

nav {
    position: fixed;
    background-color: rgb(56, 90, 191);
    color: white;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 1px black;
}

nav img {
    border-radius: 100%;
    height: 60px;
    filter: drop-shadow(0px 0px 4px black);
}

main {
    box-shadow: 0 0 5px 1px black;
    padding-top: 90px;
    background-color: rgba(128, 128, 128, 0.7);
    margin: 0 10% 0 10%;
    padding-bottom: 50px;
}

.item {
    display: flex;
    padding: 30px;
    margin: 10px;
    justify-content: left;
    align-items: center;
}
.item img {
    margin-right: 50px;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.taytol {
    width: 35vw;
}
.item h3 {
    font-size: 1.5vw;
    margin: 0 50px 0 50px;
}
.item input {
    text-align: center;
    width: 30px;
    border: none;
    border-radius: 5px;
    margin: 0 100px 0 10px;
} 
.item button {
    border: none;
    border-radius: 10px;
}
.item button:hover {
    box-shadow: 0 0 2px 1px black;
}

.down {
    margin: 20px 0 0 50px;
}

.cartem {
    display: flex;
}

#cartname {
    margin-left: 20px;
    margin-right: 20px;
}

#cartprice {
    margin-left: 20px;
    margin-right: 20px;
}