* {
    margin: 0;
    font-family: Arial;
}

body, html {
    height: 100vh;
    overflow: hidden;
}

[notes] h4 img,[notes] h4 video {
    border-radius: 0.5vw;
    height: 15vw;
}

[bg] {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    filter: blur(0.3vw);
    -webkit-filter: blur(0.3vw);
}

.lmao {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 70vw;    
    text-align: center;
}

.topBar {
    text-shadow: 0 0 0.2rem black;
    border-radius: 1vw 1vw 0 0;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    font-size: 2vw;
    font-family: Impact;
    color: white;
    animation: wewo_wa 20s linear infinite;
}
.topBar span {
    font-family: Impact;
}
.selection {
    display: flex;
    height: 30vw;
}

.selection_one,
.selection_two,
.selection_three {
    overflow: hidden;
    width: 100%;
    background-color: black;
    transition: width 0.5s;
}

[bgSelection] {
    transition: all 0.2s;
}
[notes] {
    height: 27.8vw;
    overflow-y: scroll;
}
[notes]::-webkit-scrollbar {
    display: none;
}
.LateShow {
    transition: opacity 0.2s;
    opacity: 0;
}

.selection_one [notes],
.selection_two [notes],
.selection_three [notes] {
    position: relative;
    top: -5vw;
    color: white;
    font-size: 0.5vw;
    transition: all 0.3s, font-size 0.5s, opacity 0.5s, top 0.5s;
    opacity: 0;
}
.selection_one:hover,
.selection_two:hover,
.selection_three:hover {
    width: 200%;
}
.selection_two:hover [bgSelection]{
    background-position: 100% 50%;
}
.selection_one:hover [notes],
.selection_two:hover [notes],
.selection_three:hover [notes] {
    top: -28vw;
    opacity: 1;
    font-size: 1vw;
}
.selection_one [bgSelection]{
    background-image: url("../images/activities.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.selection_two [bgSelection]{
    background-image: url("../images/fun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.selection_three [bgSelection]{
    background-image: url("../images/others.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.selection_one:hover [bgSelection], .selection_two:hover [bgSelection], .selection_three:hover [bgSelection] {
    filter: blur(0.5vw);
    -webkit-filter: blur(0.5vw);
    opacity: 0.5;
    transform: scale(1.02);
}

.bottomBar {
    font-size: 1vw;
    background: rgba(0,0,0,0.5);
    padding: 15px;
    border-radius: 0 0 1vw 1vw;
}

[anti_select] {
    position: absolute;
    top: 33.4vw;
    height: 50vh;
    width: 100%;
}

@keyframes wewo_wa {
    0% {
        text-shadow: 0 0 1rem red;
    }

    12.5% {
        text-shadow: 0 0 1rem orange;
    }

    25% {
        text-shadow: 0 0 1rem yellow;
    }

    37.5% {
        text-shadow: 0 0 1rem green;
    }

    50% {
        text-shadow: 0 0 1rem blue;
    }

    62.5% {
        text-shadow: 0 0 1rem #2e2b5f;
    }

    75.5% {
        text-shadow: 0 0 1rem #8b00ff;
    }

    87.5% {
        text-shadow: 0 0 1rem #ff6663;
    }

    100% {
        text-shadow: 0 0 1rem red;
    }
}