[unselect] {
    user-select: none;
    pointer-events: none;
}

*{
    margin: 0;
    padding: 0;
}

.faintBG {
    position: absolute;
    mix-blend-mode: multiply;
    height: 40rem;
    right: -10vw;
    top: 45vh;
    opacity: 0.2;
    animation: wewo infinite 120s linear;
}

@keyframes wewo {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body{
    overflow: hidden;
    background-image: linear-gradient(rgb(0, 150, 60),rgb(139, 222, 60));
    background-repeat: no-repeat;
}

.f {
    font-size: 15px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.actualForm {
    position:relative;
    top: -1.5vw;
    margin-bottom: 0;
}

.centerMe {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form1 {
    position: relative;
    background-color: white;
    min-width: 350px;
    width: 25vw;
    font-family: Century Gothic;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px 0.1px black;
}

#form1 p{
    position: inherit;
    top: 35px;
    font-size: 25px;
}

#form1 img{
    position: inherit;
    top: 30px;
    height: 20vh;
}

#form1 input{
    outline: none;
    text-align: inherit;
    position: inherit;
    top: 7vh;
    padding: 10px;
    border-width: 1px;
    border-color: rgba(206, 206, 206, 0.3);
    border-radius: 10px;
    width: 35vh;
    font-family: Calibri;
    transition: border-color 0.2s;
    margin: 1vh;
    font-size: 0.85vw;
}

#form1 input::placeholder{
    opacity: 0.6;
}

#form1 input:focus{
    border-color: rgba(0, 255, 60, 0.5) !important;
}

#form1 [Inputbutton] {
    outline: none;
    position: inherit;
    padding: 12px;
    width: 35vh;
    top: 70px;
    background-color: rgb(59, 157, 60);
    border: none;
    color: white;
    font-size:11px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

#form1 [Inputbutton]:hover {
    background-color: rgb(48, 129, 60);
    box-shadow: 0 0 5px 1px rgb(59, 157, 60);
}
#form1 [Inputbutton]:active {
    background-color: rgb(29, 105, 51);
}